<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ItemPriceMapper">

	<select id="getList"
		resultType="org.zerock.domain.basicRegi.ItemPriceVO">
        <![CDATA[
            SELECT * FROM item_price
            WHERE item_code > 0
        ]]>
	</select>

	<insert id="insertSelectKey"
		parameterType="org.zerock.domain.basicRegi.ItemPriceVO"
		useGeneratedKeys="false">
		INSERT INTO item_price (item_code, item_name, spec_name, discount,
		applied_price)
		VALUES (#{item_code}, #{item_name}, #{spec_name}, #{discount},
		#{applied_price})
	</insert>

	<sql id="criteria">
		<trim prefix="" suffix=" AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							item_name LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type == 'SN'.toString()">
							spec_name LIKE '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getListWithPaging"
		resultType="org.zerock.domain.basicRegi.ItemVO"
		parameterType="org.zerock.domain.Criteria">
        <![CDATA[
            SELECT item_code, item_name, spec_name, discount, applied_price 
            FROM (
                SELECT ROWNUM rn, item_code, item_name, spec_name, discount, applied_price 
                FROM (
                    SELECT item_code, item_name, spec_name, discount, applied_price 
                    FROM item_price
                    WHERE
        ]]>

		<include refid="criteria"></include>

        <![CDATA[
                    ROWNUM <= #{pageNum} * #{amount}
                    ORDER BY item_code
                )
            )
            WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM item_price
		WHERE
		<include refid="criteria"></include>
		item_code > 0
	</select>

	<select id="read"
		resultType="org.zerock.domain.basicRegi.ItemPriceVO">
		SELECT * FROM item_price WHERE item_code = #{item_code}
	</select>

	<delete id="delete">
		DELETE FROM item_price WHERE item_code = #{item_code}
	</delete>

	<update id="update">
		UPDATE item_price SET
		item_name = #{item_name},
		spec_name =
		#{spec_name},
		discount = #{discount},
		applied_price =
		#{applied_price}
		WHERE item_code = #{item_code}
	</update>

</mapper>
